<body>
  <main>
    <div data-scroll>
      <div class="content">

        <!-- entete -->

        <section class="item">

          <img src="../../assets/bd.png" class="logo">

          <h1 class="big-title">
            <span class="title-sequence">Il y a tant d'univers<br />à développer</span>
          </h1>

          <p class="sub-title">Ou développeur d'expériences, le web à grand spectacle, développeur d'émotions, j'aime les projets qui... , ne sont que des outils.</p>

          <div class="item__img-wrap animated-element">
            <div class="item__img"></div>
          </div>

        </section>

        <!-- part 01 -->

        <section class="item">

          <!-- image -->

          <div class="item__img-wrap">
            <div class="item__img"></div>

            <!-- animation -->

            <div class="left-wrapper-angular">
              <div class="left-content-angular animated-element slide-left-angular">
                 <p class="terms-left-angular">Angular</p>
              </div>
            </div>
            <div class="right-wrapper-javascript">
              <div class="right-content-javascript animated-element slide-right-javascript">
                <p class="terms-right-javascript">JavaScript</p>
              </div>
            </div>
            <div class="left-wrapper-git">
              <div class="left-content-git animated-element slide-left-git">
                 <p class="terms-left-git">git</p>
              </div>
            </div>
            <div class="right-wrapper-sass">
              <div class="right-content-sass animated-element slide-right-sass">
                <p class="terms-right-sass">Sass</p>
              </div>
            </div>

          </div>

        </section>

        <!-- part 02 -->

        <section class="item">

          <!-- image -->

          <div class="item__img-wrap left-content-angkor animated-element slide-left-angkor">
            <div class="item__img"></div>

            <!-- animation -->

            <div class="left-wrapper-html">
              <div class="left-content-html animated-element slide-left-html">
                 <p class="terms-left-html">Data Binding</p>
              </div>
            </div>
            <div class="left-wrapper-jquery">
              <div class="left-content-jquery animated-element slide-left-jquery">
                 <p class="terms-left-jquery">JQuery</p>
              </div>
            </div>
            <div class="right-wrapper-css">
              <div class="right-content-css animated-element slide-right-css">
                <p class="terms-right-css"> Guard</p>
              </div>
            </div>
            <div class="left-wrapper-karma">
              <div class="left-content-karma animated-element slide-bottom-karma">
                <p class="terms-left-karma">Observable</p>
              </div>
            </div>
            <div class="right-wrapper-gulp">
              <div class="right-content-gulp animated-element slide-right-gulp">
                <p class="terms-right-gulp">Promise</p>
              </div>
            </div>

          </div>

        </section>

        <!-- part 03 -->

        <section class="item">

          <div class="item__img-wrap animated-element">
            <div class="item__img item__img--t3"></div>

            <div class="left-wrapper-npm">
              <div class="left-content-npm animated-element slide-left-npm">
                 <p class="terms-left-npm">Lazy loading</p>
              </div>
            </div>
            <div class="right-wrapper-css">
              <div class="right-content-css animated-element slide-right-css">
                <p class="terms-right-css"> Guard</p>
              </div>
            </div>
          </div>
        </section>

        <!-- main-article02 -->
        <!-- part 04 -->

        <aside class="item background-gold">

          <div class="item__img-wrap animated-element">
            <div class="item__img"></div>
          </div>

          <div class="item__caption">
            <!-- <img src="../../assets/bd.png" class="logo"> -->
            <h2 class="item__caption-title-02-small">Ma passion</h2>
            <h2 class="item__caption-title-02">Développer les émotions</h2>
            <p class="item__caption-text-aside">Network of wormholes dream of the mind's eye finite but unbounded concept.</p>
          </div>

          <div class="text-left">Le test des frontières de l'UE après leur fermeture inédite en raison de la pandémie reste un sujet délicat. L'Italie «exige le respect» des autres pays d'Europe à propos de la prochaine réouverture des frontières, une question qui nécessite une «réponse européenne» coordonnée, a déclaré le ministre italien des Affaires étrangères, Luigi Di Maio.</div>
          <div class="ch-button-02"></div>

        </aside>

        <!-- part 05 -->

        <section class="item">
          <div class="item__img-wrap animated-element">
            <div class="item__img item__img--t2"></div>

            <!-- Animation Elements -->

            <div class="left-wrapper-typescript">
              <div class="left-content-typescript animated-element slide-bottom-typescript">
                 <p class="terms-left-typescript">Typescript</p>
              </div>
            </div>
            <div class="right-wrapper-bootstrap">
              <div class="right-content-bootstrap animated-element slide-top-bootstrap">
                <p class="terms-right-bootstrap">Bootstrap</p>
              </div>
            </div>

          </div>
          <div class="item__caption">
            <p class="item__caption-text-03">Two ghostly white figures in coveralls and helmets are softly dancing vastness.</p>
          </div>
        </section>

        <!-- main-article03 -->
        <!-- Animation Elements -->

        <section class="item">

          <div class="item__img-wrap animated-element">
            <div class="item__img item__img--t3"></div>
          </div>

        </section>

        <!-- <app-footer></app-footer> -->

      </div>
    </div>
  </main>

</body>
